/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
* {
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
html,
body {
  font-family: 'Roboto', sans-serif;
  background-color: #e5e5e5;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Indie Flower', cursive;
}
h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.2rem;
  padding-bottom: 10px;
}
h4 {
  font-size: 2.5rem;
  padding-bottom: 10px;
}
p {
  line-height: 1.5;
  font-size: 1.6rem;
  padding-bottom: 10px;
}
img {
  max-width: 100%;
  height: auto;
}
.container {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
a {
  text-decoration: none;
}
.home {
  background-color: #eeeeee;
}
.home .marketing-home {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}
.home .marketing-home h2 {
  padding-top: 10px;
}
.home .marketing-home .mainNav {
  font-size: 20px;
  padding: 10px;
}
.home .marketing-home .mainNav a {
  color: #1089ff;
}
@media (max-width: 500px) {
  .home .marketing-home {
    margin: 10%;
  }
}
.home .content-section {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-section {
    flex-direction: column-reverse;
    align-content: center;
    text-align: center;
  }
}
.home .content-section .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-section .text-content {
    width: 100%;
  }
}
.home .content-section .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-section .img-content {
    width: 100%;
  }
}
.home .content-section .img-content img {
  border-radius: 10px;
}
.home .content-destination {
  margin: 30px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .home .content-destination {
    flex-direction: column-reverse;
    align-content: center;
    text-align: center;
  }
}
.home .content-destination .text-content {
  width: 48%;
  padding-right: 1%;
}
@media (max-width: 500px) {
  .home .content-destination .text-content {
    width: 100%;
  }
}
.home .content-destination .img-content {
  width: 48%;
  padding-left: 1%;
}
@media (max-width: 500px) {
  .home .content-destination .img-content {
    width: 100%;
  }
}
.home .content-destination .img-content img {
  border-radius: 10px;
}
.home .content-pick {
  padding-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-between;
  text-align: center;
}
@media (max-width: 500px) {
  .home .content-pick {
    align-content: center;
    flex-direction: column;
    margin: 30px;
  }
}
.home .content-pick .destination {
  width: 100%;
  margin-bottom: 30px;
  align-content: center;
}
.home .content-pick .destination i {
  color: black;
}
@media (max-width: 500px) {
  .home .content-pick .destination {
    width: 100%;
    align-content: center;
  }
}
.home .footer {
  width: 100%;
  background: #1089ff;
  align-content: center;
}
.home .footer p {
  text-align: center;
  color: #23374d;
  font-size: 1.6rem;
  padding: 20px;
}
