.home {
    .content-section {
        margin: 20px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        background-color: @primary;
        color: @secondary;
    }
}